

a{
    text-decoration: none;
    color:green;

}
a:link{
    text-decoration: none;
    color:orange;
}
a:visited{
    color:blue;
    background:orchid;
}
a:hover{
    color:yellow;
    background-color:black ;
}
a:active{
    color:green;
    background:yellow;
}
.float_1{
    float:left;
    width:20%;
    top:0px;
    max-height: 100%;
}
.flex-container > div {
    background-color: #e29393;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width:50%;
  }
.flex-container {
    display: flex;
    background-color: rgb(204, 86, 159);
    width:60%;
  }

.float_2{
    float:left;
    width:80%;
    left:20px;
}

.float_3{
    float:right;
    width:20%;
    left:20px;
    background-color: rgb(179, 126, 158);
}
body{
    background-image:url("bg_image_1.jpg") ;
    background-size: 100%;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
    font-weight: 900;
    /*width:80%;*/
    /*font-variant: small-caps*/;
    /*background-color:yellow ;*/
    /*text-shadow:1px 0px 10px red*/;
}

ul{
   /* border:1px solid #000;*/
    padding:20px;
    /*text-shadow:1px 0px 10px darkred;*/
    font-size: 15pt;
    font-weight: 700;    
    font-family: 'Times New Roman', Times, serif;
     
}