/*
    Created By: Norman Breuer
    Last Updated: 03/26/2022
    Description: Styles Project0
*/

:root {
    --pink: #ff1493;
    --blue: #2540A2;
}


html {
    margin: 0;
    padding: 0;
    height: 100%; 
    box-sizing: border-box;
}

body {
    background-image: url("scibg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    min-width: 320px;
    margin: auto;
    font-family: 'Play', sans-serif;
    line-height: 1.5;
    font-size: calc(0.75em + 1vmin);
    word-wrap: break-word;
}

/* HEADER */

#header-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: rgb(37, 64, 162, 0.8);
    border-color:  var(--pink);
    border-style: solid;
    border-width: 0.5rem;
    min-width: 320px;
    max-width:fit-content;
    margin: 1.5rem auto;
    border-radius: 50px;
}

h1 {
    color: white;
    text-align: center;
    padding: 1rem;
}

/* PARAGRAPH */

#p-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 50%;
    min-width: 320px;
    height: auto;
    text-align: center;
}

#p {
    font-size: 1.75rem;
    color: white;
}

/* BUTTON */

#btn-container {
    text-align: center;
    margin: 3rem;
    -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

#btn {
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 1.5rem;
    border-style: none;
    background-color: var(--pink);
    font-family: 'Play', sans-serif;
    color: white;
    transition: 0.5s;
}

#btn:hover {
    transform: scale(1.1);
    background-color: var(--blue);
    cursor: pointer;
}

/* MAIN CONTENT */

#movie-title {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 5px solid white;
    width: 50%;
    margin: 0 auto;
    color: white;
}

#movie-img {
    border: 5px solid green;
    /* margin: 0 2rem; */
    flex-grow: 1;
}

#movie-data-one {
    border: 5px solid green;
    /* margin: 0 2rem; */
    flex-grow: 1;
}

#movie-data-two {
    border: 5px solid green;
    /* margin: 0 2rem; */
    flex-grow: 1;
}

/* BLOBS */

#blob-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.blob {
    display: flex;
	background: var(--pink);
	border-radius: 50%;
	margin: 2rem;
	height: 1.5rem;
	width: 1.5rem;
	/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
	transform: scale(1);
	animation: pulse 2s infinite;
}

.blue-blob {
    background: var(--blue);
}

/* KEYFRAMES */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(37, 64, 162, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(37, 64, 162, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(37, 64, 162, 0);
	}
}